*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
 }
body{
    font-family: sans-serif;
    font-size: 13px;
    line-height: 1.6;
    color: #444;
    
}
.container{
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
}
.row::before,
.row::after{
    content: '';
    clear: both;
    display: block;
}
a{  
    text-decoration: none;
    color: inherit;
}
img{
    max-width: 100%;
}

.col{
    float: left;
    
}

 .col-1 {
    width: 4.166666666666666%;
}

.col-2 {
    width: 8.333333333333333%;
}

.col-3 {
    width: 12.5%
}

.col-4 {
    width: 16.666666666666666%;
}

.col-5 {

    width: 20.833333333333333%;
}

.col-6 {
    width: 25%;
}

.col-7 {
    width: 29.166666666666666%;
}

.col-8 {
    width: 33.333333333333333%;
}

.col-9 {

    width: 37.5%;
}

.col-10 {
    width: 41.666666666666666%;
}

.col-11 {
    width: 45.833333333333333%;
}

.col-12 {
    width: 50%;
}

.col-13 {
    width: 54.166666666666666%;
}

.col-14 {
    width: 58.333333333333333%;
}

.col-16 {
    width: 66.666666666666666%;
}
.col-17{
    width: 70.833333333333333%;
}
.col-18{
    width:75%;
}
.col-19{
    width:79.1666666666666666%;
}
.col-20{
    width:83.3333333333333333%;
}
.col-21{
    width:87.5%;
}
.col-22{
    width:91.6666666666666666%;
}
.col-23{
    width:95.8333333333333333%;
}
.col-24{
    width:100%;
}

 .global-nav{
    background: #333;
    color: #b0b0b0;
    font-size: 90%;    
}
.left{
    float: left;
}

.right{
    float: right;
}
.global-nav .right{
  
   text-align: right;
}
.global-nav a{
   
    display: inline-block;
    line-height: 2;
    padding: 5px 10px;
}
.icon i{
    font-size: 14px;
    padding-right: 10px;
}

.logo{
   position: relative;
    background: #ff6700;
    display: inline-block;
    width: 55px;
    height: 55px;
    top:10px;
}
.logo img{
    position: absolute;
    top:4px;
    left: 4px;
}
.local-nav .link-group{
    display: inline-block;
    padding: 30px;
    font-size: 16px;
    
}
.local-nav .link-group a{
  padding: 10px;
    
}
.search input{
    margin-top: 17px;
    height: 47px;
}
.search button{
    width: 36px;
    height: 48px;
    border: 1px solid rgba(0, 0, 0, .2);
}
.search{
  
    position: relative;
   
   
}
.search .input-box{
      font-size: 0;  
}
    input{
    padding: 12px 20px;
    border: 1px solid rgba(0, 0, 0, .2);
    outline: none;
    color: #444;
    
}
.rec-group{
    position: absolute;
    top: 30px;
    right: 69px;
    cursor: pointer;
    
}
.search .rec{
    background: #eee;
    color: #757575;
    padding: 3px;
    margin: 4px;
}
.slider .container{
    background-image: url(../imgs/slider.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;  
 }

 .slider .link-group{
    background: rgba(0,0,0,.7);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 234px;
    

 }
 .slider .link-group a{
    display: block;
    padding: 10px 20px;
    color: #fff;
    
 }
 .slider .link-group a:hover{
     background: #ff6700;
 }

 .slider .preview{
    position: relative;
 }
 .navigator > *{
    background-image: url(../imgs/icon-slides.png);
     position: absolute;
     top: 181px;
     width: 50px;
     height: 61px;
     
 }
 .navigator .prev{ 
    
    left: 19px;
    background-position: 82px 0px;

 }
 .navigator .next{
    right: 0px;
    background-position: 54px 0px;

}
/* --------- 快捷通道 ---------- */
.header-card img{
    width: 316px;
    
}
.header-card{
    margin-top: 20px;
}

.card-group > *{
    margin-right: 10px;
    padding-left: 10px;
}
.header-card .container .shortcut,
.header-card .container .cardgroup{
    margin-right: 16px;
    padding-left: 15px;
}
.card-group .card3{
    /* padding-left: 15px; */
    margin-right: 0;
    
}

.shortcut

{
    background: #5f5750;
    font-size: 12px;
    text-align: center;
    width: 234px;
    padding-top: 10px;
    color: #fff;
    
}
.shortcut .up .col,
.shortcut .down .col{
    width: 65px;
    height: 82px;
    box-shadow: #b0b0b0;
    
}

.shortcut a{
    display: inline-block;
    padding: 10px 0;
    
}
.shortcut i{
    padding-left:5px; 
}

















    