*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
 }
 body,form{
     margin: 0;
 }

body{
    font-family: sans-serif;
    line-height: 1.6;
    color: #444;
    background:  #f0f0f0;;
    
}
.container,
.form-container{
    padding: 0 .5rem;
    overflow: auto;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.form-container{
    max-width: 400px;
}
.input-control{
    margin-bottom: .5rem;

}
.input-control .error{
    color: #f10;
    margin-bottom: 5px;
}
.row::before,
.row::after{
    content: '';
    clear: both;
    display: block;
}
a{  
    text-decoration: none;
    color: inherit;
}
img{
    max-width: 100%;
}

.col-24,
.col-23,
.col-22,
.col-21,
.col-20,
.col-19,
.col-18,
.col-17,
.col-16,
.col-15,
.col-14,
.col-13,
.col-12,
.col-11,
.col-10,
.col-9,
.col-8,
.col-7,
.col-6,
.col-5,
.col-4,
.col-3,
.col-2,
.col-1,
.col {
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  display: block;
  margin-inline-start: 0;
}

 .col-1 {
    width: 4.166666666666666%;
}

.col-2 {
    width: 8.333333333333333%;
}

.col-3 {
    width: 12.5%
}

.col-4 {
    width: 16.666666666666666%;
}

.col-5 {

    width: 20.833333333333333%;
}

.col-6 {
    width: 25%;
}

.col-7 {
    width: 29.166666666666666%;
}

.col-8 {
    width: 33.333333333333333%;
}

.col-9 {

    width: 37.5%;
}

.col-10 {
    width: 41.666666666666666%;
}

.col-11 {
    width: 45.833333333333333%;
}

.col-12 {
    width: 50%;
}

.col-13 {
    width: 54.166666666666666%;
}

.col-14 {
    width: 58.333333333333333%;
}

.col-16 {
    width: 66.666666666666666%;
}
.col-17{
    width: 70.833333333333333%;
}
.col-18{
    width:75%;
}
.col-19{
    width:79.1666666666666666%;
}
.col-20{
    width:83.3333333333333333%;
}
.col-21{
    width:87.5%;
}
.col-22{
    width:91.6666666666666666%;
}
.col-23{
    width:95.8333333333333333%;
}
.col-24{
    width:100%;
}

.left{
    float: left;
}

.right{
    float: right;
}
.text-right{
    text-align: right;
}
.btn, input, button, textarea {
    font-size: 1em;
    padding: .5rem;
    /*border: 1px solid rgba(0, 0, 0, 0.1)*/
    border: 2px solid;
    color: inherit;
  }
  .btn, button {
    background: #fff;
    border: 1px solid rgba(0,0,0,.2);
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
  }

form input,form textarea,
form [type=submit]{
    width: 100%;
}

.link-list .link-item{
    display: inline-block;
    padding: 10px;
}

.card{

    overflow: atuo;
    background: #fff;
    margin-bottom: 10px;
}
.card .title{
    font-weight: bolder;
    margin: 12px 0;
}
.card .title,
.card .content >*{
    padding: 10px;
}
.card,.vertical-nav > *{
    display: block;
    padding: .5rem;
    
}
.vertical-nav a:hover{
    
    background: rgba(0,0,0,.1);
}
.detailed > *{
    margin: 15px 10px;
}
.detailed > * > *{
    padding: 10px;
   
}
.info .title{
    font-size: 20px;
    padding: 0;
}

[hidden]{
    display: none !important;
}
.setting-content dt,
.setting-content dd{
    display: inline-block;
    margin: 0;
}
.setting-content dt{
    margin-right: .5em;
}

dl{
    margin: .4rem 0;
    display: flex;
}
dl [readonly]{
    border: 0;
    padding: 0;
    outline: 0;
}

dl .field{
    width: auto;
    display: inline-block;
}

dt::after{
    margin-right:10px;
    content: ":";
}


dd{
    flex: 1;
    float: left;
}
fieldset{
    border: 0;
    margin: 0;
}
[disabled]{
    opacity: .5;
}
table {
    width: 100%;
    border-collapse: collapse;

}
table th ,
table td{
    text-align: left;
    padding: .3rem .5rem;
    border: 0;
}
table th{
    border-bottom: 2px solid rgba(0,0,0,.5);
}
table td {
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.btn-group > *{
    border-right-width: 0px;
    
}
.btn-group > :last-of-type {
    border-right-width: 2px;
}
table th:last-of-type,
table td:last-of-type{
    text-align: right;
}




