
*,*:before,*:after { 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }
:root{
    font-family: sans-serif;
    color: #444;
    
}
body{
    margin: 0;
        
    }
        
.container{
    max-width: 100em;
    margin-left: auto;
    margin-right: auto;
    padding-left: .5em;
    padding-right: .5em;
  
}
input,button,textarea{
    color: inherit;
}

form input,form button,form textarea{
    width: 100%;
    padding: 1em;
    outline: 0;
    border: solid 1px #ccc;
   
}
form input:focus,form button:focus{
    border-color: transparent;
    box-shadow:0 0 0 3px #c1a7ff;
}
form{
    margin-left: auto;
    margin-right: auto;
}
[hidden]{
    display: none !important;
}
input,button,.sidebar > *{
    border-radius: 3px;
    -webkit-border-radius:3px;
}

form label{
  display: block;
  margin: .2em 0;

}
