
body{
    margin: 0;

}

:root{
    font-family: sans-serif;
    color: #444;

}
.container,
.container-sm{
    max-width: 100em;
    margin-left: auto;
    margin-right: auto;
    padding-left: .5em;
    padding-right: .5em;
  
}
.container-sm{
    max-width: 30em; 
    
}
.container-sm > *{
    float: left;
}
.container-sm .left{
    width: 40%;
}
.container-sm .right{
    width: 60%;
}

input,button,textarea{
    color: inherit;
}

form input,form button,form textarea{
    width: 100%;
    padding: 1em;
    outline: 0;
    border: solid 1px #ccc;
   
}
form input:focus,form button:focus{
    border-color: transparent;
    box-shadow:0 0 0 3px #c1a7ff;
}
form{
    margin: 0;
}
[hidden]{
    display: none !important;
}
input,button,.sidebar > *{
    border-radius: 3px;
}

.sidebar > *{
    width: 100%;
    cursor: pointer;
}
.sidebar{
    font-size: .8em;
    padding: 0 .2em;
    color: #222;
    text-align: left;

}

.sidebar > * :hover{
    cursor: pointer;
    margin-bottom: .2em;
    color: #222;
    background: rgba(0,0,0,.2);
}
.sidebar > .active{
    background:#c1a7ff;
    border-radius: 3px;
    color: #fff;
}
#todo-form{
    position: relative;
}
#more-trigger{
    font-size: .7em;
    background: #fff;
    padding: .2em;
    position: absolute;
    right:-22px;
    top:8px;
    cursor: pointer;
}

