
:root{
    background: #eee;
}

.todo-item {
    font-size: 0;
    background: #fff;
    box-shadow: rgba(0, 0, 0, .2);
    margin-right: -23px;
    margin-left: 1px;

}

.todo-item > * {
    font-size:1rem;
    display: inline-block;
    vertical-align: middle;
    padding: .5em;
   
}
.todo-item > .check{
   width: 10%;
}
.todo-item > .title{
    width: 50%;
}
.todo-item > .operations{
   width: 30%;
    text-align: right;
}
form,.todo-item{
    margin-bottom: .5rem;
}

/* .container-sm > .left{
    width:20%;
}
.container-sm > .right{
    width: 80%;
} */
#add-form button{
    width: 50%;
    float: left;
}
button.primary {
    background:#c1a7ff;
    color:#fff;
}

#cat-list button{
    font-size: inherit;
    
}
#cat-list .item{
    position: relative;
}
#cat-list .operations{
    right:0;
    display: none;
    font-size: .5rem;
    position: absolute;
}
#cat-list > .item:hover .operations{
    display: inline-block;
}
#cat-list > .item .operations button {
    border: 0;
    background: transparent;
    padding: .1em;
    color: #aaa;
  }
  #cat-list .operations button:hover {
    color: #222;
  }
  /* #cat-list > .item:hover .operations {
    display: inline-block;
  } */